.conteiner {
    display: flex;
    justify-content: center;
}

.img {
    width: 400px;
}

.img:hover {
    cursor: pointer;
}

.apagado {
    background-color: #3f49cc;
}

body {
    transition: all 100ms ease;
}